body{
	font-size: 16px;
	color: #fff;
	background-color: #363636;
}
#header-nav{
	background-color: #f6b319;
	height: 180px
	}


#Logo-img {
	background: url('../ganesh.jpg') no-repeat;
	width: 150px;
	height: 150px
	margin:10px 15px 10px 0;
}
.navbar-band {
	padding-top: 25px;
}
.navbar-band h1 {/*Restaurant name*/
    font-family: 'Ganesh',serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-band a:hover, .navbr-brand a:focus {
	text-decoration: none;
}
.navbar-band p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-band p span {/*star-K */
	vertical-align: middle;
}

#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: #951C49;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}
#phone {
	margin-top: 5px;
}
#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0;
 }
 #phone div {/* We Deliver */
 	columns: #557c3e;
 	text-align: right;
 	padding-right: 15px;
 }
 .navbar-header button.navbar-toggle, .navbar-header .icon-bar{
 	border: 1px solid #61122f;
 }
 .navbar-header button.navbar-toggle {
 	clear: both;
 	margin-top: -30px;
 }
 /* END HEADER */

/* Footer */
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #61122f;
	border-top: 0;
}
.panel-footer div.row {
	margin-bottom: 35px;
}
#hours, #address {
	line-height: 2;
}
#hours > span, #Address > span {
	font-size: 1.3em;
}
#Address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonials {
	font-style: italic;
}
#testimonials p:nth-child(2) {
	margin-top: 25px;
}
/** end Footer**/

 /* Home Page */
 .container .jumbotron {
 	box-shadow: 0 0 50px #3F0C1F;
 	border: 2px solid #3F0C1F;
 }
#menu-tile, #Specials-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;

}
#menu-tile {
	background: url('../Item 768.jpg') no-repeat;
	background-position: center;
}
#Specials-tile {
	background: url('../Item 768.jpg') no-repeat;
	background-position: center;
}
#menu-tile span, #Specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
/* End Home Page */
/* Menu categories page */
.category-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}
.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div {
	margin-bottom: 50px;
}
/* End menu category */


 /***** Large devices only *****/
 @media (min-width: 1200px) {
 	.container .jumbotron {
 		background:url('../Item 1200.jpg') no-repeat;
 		height: 675px;
 	}

 }

 /****** Medium devices only ****/
 @media (min-width: 992px) and (max-width: 1199px){
 	.container .jumbotron {
 		background:url('../Item 992.jpg') no-repeat;
 		height: 558px;
 	}
   /* End Home Page */
 }

 /***** Small devices only ****/
 @media (min-width: 768px) and (max-width: 991px){
      .container .jumbotron {
 		background:url('../Item 768.jpg') no-repeat;
 		height: 432px;
 	}
 }

 /*******Extra small devices only *****/
 @media (max-width: 767px) {

 	/* End Header */
   /* Footer */
   .panel-footer section {
	   margin-bottom: 30px;
	   text-align: center;
   }
   .panel-footer section:nth-child(3) {
	   margin-bottom: 0; /*margin already exist on the whole row */
    }
   .panel-footer section hr {
	width: 50%;
    }
   /* End footer */

    .container .jumbotron {
 		background:url('../Item 768.jpg') no-repeat;
 		height: 432px;
 	}
 	#menu-tile, #Specials-tile {
 		width: 360px;
 		margin: 0 auto 15px;
 	}
 }


/********Super extra small devices only:- (e.g. iPhone 4);******/
@media (max-width: 479px) {
	/***Header **/
	.navbar-brand h1 {/**Restruant name **/
		padding-top: 5px;
		font-size: 6vw;
	}
	/*** Home Page ***/
	#menu-tile, #Specials-tile {
		width:280px;
		margin:0 auto 15px;
	}

	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
}