body{
  background-color: skyblue;
}

h1{
  color:red;
  text-align:center;
  margin-top: 30px;
  margin-bottom:50px;
}


/*navigation bar*/
.navbar{
  text-align: center;
}
.navbar-brand{
  font-size: 200%
}
.container{

  border: 2px black;
  margin-top:20px;
  margin-bottom:40px;
}
.row{
  width:100%;
}

section{
  background-color:#ef8172;
  font-family:"Montserrat black";
  margin-top: 0;
  margin-bottom: 0;
width: 100%;

  border:2px solid black;
  padding-left:4%;
  padding-bottom:4%;
margin-left:10px;
color:white;
}
.chick{
  text-align:center;
  font-size:200%;
  font-style: oblique;
  font-weight: bolder;

}s